.hero{
    
}
.flower-sm{
    background-image: url("../../assets/flowers.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    /* border: 40px solid blue; */
}
@media screen and (min-width: 1024px){
    .hero{
    }
    .flower-lg{
        background-image: url("../../assets/flower-lg.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}